$uni-color-primary: #79d9e8;
$uni-color-success: #35c9aa;
$uni-color-error: #ec6f9e;
$uni-text-color: #121923;
$uni-text-color-grey: #7a8796;
$uni-border-color: #cbd5df;
$uni-bg-color: #ffffff;
$uni-border-radius-base: 16px;
